########################################################################################################################
# .htaccess file by maskoid.com. This will improve performance, security, and functionality of your WordPress file.
########################################################################################################################

# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  ### SQL Injection Protection
  RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
  RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
  RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
  RewriteRule ^(.*)$ index.php [F,L]
  ### End SQL Injection Protection
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>

# END WordPress

########################################################################################################################
# ========================= TWEAKS =====================================================================================
########################################################################################################################

# IF MAINWP IS INSTALLED, HIDE THE FACT.
#
# BEGIN MainWP
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^wp-content/plugins/mainwp-child/(.*)$ /wp-content/plugins/THIS_PLUGIN_DOES_NOT_EXIST [QSA,L]
</IfModule>
# END MainWP


# URL CANONICALIZATION
#
# Both the naked domain and www should resolve to the same URL. 
# If you want to redirect http://www.example.com to http://example.com, you can use this:
#
#<IfModule mod_rewrite.c>
#	RewriteEngine on 
#	RewriteBase / 
#	RewriteCond %{HTTP_HOST} ^www\.example\.com$
#	RewriteRule ^/?$ "http\:\/\/example\.com\/" [R=301,L]
#</IfModule>

# If you want to redirect http://example.com to http://www.example.com, you can use this:
#
#<IfModule mod_rewrite.c> 
#	RewriteEngine on 
#	RewriteBase / 
#	RewriteCond %{HTTP_HOST} !^www.example.com$ [NC]
#	RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301]
#</IfModule>

# REDIRECT INCORRECT ROBOTS.TXT REQUESTS TO THE RIGHT PLACE.
# Source: https://perishablepress.com/htaccess-cleanup/
<IfModule mod_alias.c>
	RedirectMatch 301 (?<!^)/robots.txt$ /robots.txt
</IfModule>


# BLOCK ACCESS TO DIRECTORIES WITHOUT A DEFAULT DOCUMENT
#
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# CROSS-ORIGIN WEB FONTS 
# See: https://davidwalsh.name/cdn-fonts
#
<IfModule mod_headers.c>
    <FilesMatch "\.(eot|otf|tt[cf]|woff2?)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

Options -MultiViews

# ENABLE KEEP-ALIVE
#
<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>



########################################################################################################################
# ======================== SECURITY ====================================================================================
########################################################################################################################

# REMOVE SERVER SIGNATURE
# See: 
# * https://techjourney.net/improve-apache-web-server-security-use-servertokens-and-serversignature-to-disable-header/
# * https://www.unixmen.com/how-to-disable-server-signature-using-htaccess-or-by-editing-apache/
#
ServerSignature Off



# DISABLE XML-RPC
# See: https://www.digitalocean.com/community/tutorials/how-to-protect-wordpress-from-xml-rpc-attacks-on-ubuntu-14-04#method-3-manually-blocking-all-xml-rpc-traffic
# See: https://blog.sucuri.net/2015/10/brute-force-amplification-attacks-against-wordpress-xmlrpc.html
#
<files xmlrpc.php>
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</files>


# STRONG HTACCESS PROTECTION (PROTECTS THIS FILE FROM HACKERS)
#
<Files ~ "^.*\.([Hh][Tt][Aa])">
  order allow,deny
  deny from all
  satisfy all
</Files>

# REMOVE THE `X-POWERED-BY` RESPONSE HEADER
#
<IfModule mod_headers.c>
    Header unset X-Powered-By
</IfModule>

# DISABLE HTTP TRACE
RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]

# DISABLE ACCESS TO WORDPRESS WP-CONFIG FILE
#
<files wp-config.php>
  order allow,deny
  deny from all
</files>

# DISABLE ACCESS TO SFTP-CONFIG.JSON
#
<files sftp-config.json>
  order allow,deny
  deny from all
</files>


# DISABLE ACCESS TO INCLUDES.
#
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^wp-admin/includes/ - [F,L]
  RewriteRule !^wp-includes/ - [S=3]
  RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
  RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
  RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>


# PASS THE DEFAULT CHARACTER SET
#
AddDefaultCharset utf-8


# DENY NO REFERER REQUESTS - http://www.wprecipes.com/how-to-deny-comment-posting-to-no-referrer-requests
# See also: https://codex.wordpress.org/Brute_Force_Attacks
# Change yourblog.com to your domain. If you're using Multisite with mapped domains, you'll want to change yourblog.com to (yourblog.com|yourblog.net|yourblog4.com) and so on.
#
#<IfModule mod_rewrite.c>
#  RewriteEngine On
#  RewriteCond %{REQUEST_METHOD} POST
#  RewriteCond %{REQUEST_URI} .*/(wp-comments-post|wp-login)\.php.*
#  RewriteCond %{HTTP_REFERER} !.*yourblog.com.* [OR]
#  RewriteCond %{HTTP_USER_AGENT} ^$
#  RewriteRule (.*) ^http://%{REMOTE_ADDR}/$ [R=301,L]
#</IfModule>


#BLOCK BROWSER ACCESS TO LOG FILES
#
<Files  ~ "\.log$">
  Order allow,deny
  Deny from all
</Files>

#WP HARDENING SECURITY HEADERS Reducing MIME type security risks
#
<ifModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options: "nosniff"
</ifModule>

# 6G BLACKLIST/FIREWALL (beta)
# @ https://perishablepress.com/6g-beta/

# 6G:[REQUEST STRINGS]
<ifModule mod_alias.c>
	RedirectMatch 403 /(\$|\*)/?$
	RedirectMatch 403 (?i)(<|>|:|;|\'|\s)
	RedirectMatch 403 (?i)([a-zA-Z0-9]{18})
	RedirectMatch 403 (?i)(https?|ftp|php)\:/
	RedirectMatch 403 (?i)(\"|\.|\_|\&|\&amp)$
	RedirectMatch 403 (?i)(\=\\\'|\=\\%27|/\\\'/?)\.
	# RedirectMatch 403 (?i)/(author\-panel|submit\-articles)/?$
	RedirectMatch 403 (?i)/(([0-9]{5})|([0-9]{6}))\-([0-9]{10})\.(gif|jpg|png)
	RedirectMatch 403 (?i)(\,|//|\)\+|/\,/|\{0\}|\(/\(|\.\.|\+\+\+|\||\\\"\\\")
	RedirectMatch 403 (?i)/uploads/([0-9]+)/([0-9]+)/(cache|cached|wp-opt|wp-supercache)\.php
	RedirectMatch 403 (?i)\.(asp|bash|cfg|cgi|dll|exe|git|hg|ini|jsp|log|mdb|out|sql|svn|swp|tar|rar|rdf|well)
	RedirectMatch 403 (?i)/(^$|1|addlink|btn_hover|contact?|dkscsearch|dompdf|easyboard|ezooms|formvars|fotter|fpw|i|imagemanager|index1|install|iprober|legacy\-comments|join|js\-scraper|mapcms|mobiquo|phpinfo|phpspy|pingserver|playing|postgres|product|register|scraper|shell|signup|single\-default|t|sqlpatch|test|textboxes.css|thumb|timthumb|topper|tz|ucp_profile|visit|webring.docs|webshell|wp\-lenks|wp\-links|wp\-plugin|wp\-signup|wpcima|zboard|zzr)\.php
	RedirectMatch 403 (?i)/(\=|\$\&|\_mm|administrator|auth|bytest|cachedyou|cgi\-|cvs|config\.|crossdomain\.xml|dbscripts|e107|etc/passwd|function\.array\-rand|function\.parse\-url|livecalendar|localhost|makefile|muieblackcat|release\-notes|rnd|sitecore|tapatalk|wwwroot)
	RedirectMatch 403 (?i)(\$\(this\)\.attr|\&pws\=0|\&t\=|\&title\=|\%7BshopURL\%7Dimages|\_vti\_|\(null\)|$itemURL|ask/data/ask|com\_crop|document\)\.ready\(fu|echo.*kae|eval\(|fckeditor\.htm|function.parse|function\(\)|gifamp|hilton.ch|index.php\&amp\;quot|jfbswww|monstermmorpg|msnbot\.htm|netdefender/hui|phpMyAdmin/config|proc/self|skin/zero_vote|/spaw2?|text/javascript|this.options)
</ifModule>
# 6G:[QUERY STRINGS]
# (note: be sure to test extensively, as some might break your site)
<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_URI} !^/$ [NC]
	RewriteCond %{QUERY_STRING} (mod|path|tag)= [NC,OR]
	RewriteCond %{QUERY_STRING} ([a-zA-Z0-9]{32}) [NC,OR]
	RewriteCond %{QUERY_STRING} (localhost|loopback|127\.0\.0\.1) [NC,OR]
	RewriteCond %{QUERY_STRING} (\?|\.\./|\.|\*|:|;|<|>|'|"|\)|\[|\]|=\\\'$|%0A|%0D|%22|%27|%3C|%3E|%00|%2e%2e) [NC,OR]
	RewriteCond %{QUERY_STRING} (benchmark|boot.ini|cast|declare|drop|echo.*kae|environ|etc/passwd|execute|input_file|insert|md5|mosconfig|scanner|select|set|union|update) [NC]
	RewriteRule .* - [F,L]
</IfModule>

# 6G:[USER AGENTS]
<ifModule mod_setenvif.c>
	#SetEnvIfNoCase User-Agent ^$ keep_out
	SetEnvIfNoCase User-Agent (<|>|'|&lt;|%0A|%0D|%27|%3C|%3E|%00|href\s) keep_out
	SetEnvIfNoCase User-Agent (archiver|binlar|casper|checkprivacy|clshttp|cmsworldmap|comodo|curl|diavol|dotbot|email|extract|feedfinder|flicky|grab|harvest|httrack|ia_archiver|kmccrew|libwww|loader|miner|nikto|nutch|planetwork|purebot|pycurl|python|scan|skygrid|sucker|turnit|vikspider|wget|winhttp|youda|zmeu|zune) keep_out
	<limit GET POST PUT>
		Order Allow,Deny
		Allow from all
		Deny from env=keep_out
	</limit>
</ifModule>



########################################################################################################################
# ========================= HTTPS SSL/TLS ==============================================================================
########################################################################################################################


# TEMPORARILY REDIRECT HTTPS to HTTP
# Problem with SSL? Uncomment this to enable a temporary (302) redirect to http while keeping the requested path.
#
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteCond %{HTTPS} on
#	RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]
#</IfModule>

