########################################################################################################################
# .htaccess file by maskoid.com. This will improve performance, security, and functionality of your WordPress file.
########################################################################################################################

# BEGIN WordPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  ### SQL Injection Protection
  RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
  RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
  RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
  RewriteRule ^(.*)$ index.php [F,L]
  ### End SQL Injection Protection
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
</IfModule>

# END WordPress

########################################################################################################################
# ========================= TWEAKS =====================================================================================
########################################################################################################################

# IF MAINWP IS INSTALLED, HIDE THE FACT.
#
# BEGIN MainWP
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^wp-content/plugins/mainwp-child/(.*)$ /wp-content/plugins/THIS_PLUGIN_DOES_NOT_EXIST [QSA,L]
</IfModule>
# END MainWP


# URL CANONICALIZATION
#
# Both the naked domain and www should resolve to the same URL.
# If you want to redirect http://www.example.com to http://example.com, you can use this:
#
#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteBase /
#    RewriteCond %{HTTP_HOST} ^www\.example\.com$
#    RewriteRule ^/?$ "http\:\/\/example\.com\/" [R=301,L]
#</IfModule>

# If you want to redirect http://example.com to http://www.example.com, you can use this:
#
#<IfModule mod_rewrite.c>
#    RewriteEngine on
#	RewriteBase /
#	RewriteCond %{HTTP_HOST} !^www.example.com$ [NC]
#	RewriteRule ^(.*)$ http://www.example.com/$1 [L,R=301]
#</IfModule>

# REDIRECT INCORRECT ROBOTS.TXT REQUESTS TO THE RIGHT PLACE.
# Source: https://perishablepress.com/htaccess-cleanup/
<IfModule mod_alias.c>
	RedirectMatch 301 (?<!^)/robots.txt$ /robots.txt
</IfModule>


# BLOCK ACCESS TO DIRECTORIES WITHOUT A DEFAULT DOCUMENT
#
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# ENABLE KEEP-ALIVE
#
<ifModule mod_headers.c>
    Header set Connection keep-alive
</ifModule>



########################################################################################################################
# ======================== SECURITY ====================================================================================
########################################################################################################################

# REMOVE SERVER SIGNATURE
# See:
# * https://techjourney.net/improve-apache-web-server-security-use-servertokens-and-serversignature-to-disable-header/
# * https://www.unixmen.com/how-to-disable-server-signature-using-htaccess-or-by-editing-apache/
#
ServerSignature Off

Options -MultiViews

# STRONG HTACCESS PROTECTION (PROTECTS THIS FILE FROM HACKERS)
#
<Files ~ "^.*\.([Hh][Tt][Aa])">
  order allow,deny
  deny from all
  satisfy all
</Files>

# REMOVE THE `X-POWERED-BY` RESPONSE HEADER
#
<IfModule mod_headers.c>
    Header unset X-Powered-By
</IfModule>

# DISABLE ACCESS TO WORDPRESS WP-CONFIG FILE
#
<files wp-config.php>
  order allow,deny
  deny from all
</files>

# DISABLE ACCESS TO SFTP-CONFIG.JSON
#
<files sftp-config.json>
  order allow,deny
  deny from all
</files>


# DISABLE ACCESS TO INCLUDES.
#
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^wp-admin/includes/ - [F,L]
  RewriteRule !^wp-includes/ - [S=3]
  RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
  RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
  RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>


# PASS THE DEFAULT CHARACTER SET
#
AddDefaultCharset utf-8


# DENY NO REFERER REQUESTS - http://www.wprecipes.com/how-to-deny-comment-posting-to-no-referrer-requests
# See also: https://codex.wordpress.org/Brute_Force_Attacks
# Change yourblog.com to your domain. If you're using Multisite with mapped domains, you'll want to change yourblog.com to (yourblog.com|yourblog.net|yourblog4.com) and so on.
#
#<IfModule mod_rewrite.c>
#  RewriteEngine On
#  RewriteCond %{REQUEST_METHOD} POST
#  RewriteCond %{REQUEST_URI} .*/(wp-comments-post|wp-login)\.php.*
#  RewriteCond %{HTTP_REFERER} !.*yourblog.com.* [OR]
#  RewriteCond %{HTTP_USER_AGENT} ^$
#  RewriteRule (.*) ^http://%{REMOTE_ADDR}/$ [R=301,L]
#</IfModule>


#WP HARDENING SECURITY HEADERS Reducing MIME type security risks
#
<ifModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
  Header always append X-Frame-Options SAMEORIGIN
  Header set X-Content-Type-Options: "nosniff"
</ifModule>


########################################################################################################################
# ========================= HTTPS SSL/TLS ==============================================================================
########################################################################################################################


# TEMPORARILY REDIRECT HTTPS to HTTP
# Problem with SSL? Uncomment this to enable a temporary (302) redirect to http while keeping the requested path.
#
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteCond %{HTTPS} on
#	RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=302,L]
#</IfModule>
